In [23]:
from pyspark.sql import SparkSession

In [24]:
spark = SparkSession.builder.appName('Basics').getOrCreate()
# creating spark session

In [25]:
df = spark.read.json('people.json')
# to read json file

In [26]:
df.show()
# to show the records for data frame

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.printSchema()
# to print of schema

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [28]:
df.columns
# to get columns name

['age', 'name']

In [29]:
df.describe()
# to get statistical summary

DataFrame[summary: string, age: string, name: string]

In [30]:
df.describe().show()
# to show statistical summary

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [ ]:
# change the schema data type
# manually set the schema

In [31]:
from pyspark.sql.types import (StructField,StringType,
                               IntegerType,StructType)

In [32]:
data_schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]
data_schema

[StructField('age', IntegerType(), True),
 StructField('name', StringType(), True)]

In [33]:
final_struc = StructType(fields=data_schema)
final_struc

StructType([StructField('age', IntegerType(), True), StructField('name', StringType(), True)])

In [34]:
df = spark.read.json('people.json',schema=final_struc)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [35]:
df['age']

Column<'age'>

In [36]:
type(df['age'])

pyspark.sql.column.Column

In [37]:
df.select('age')

DataFrame[age: int]

In [38]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [39]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [40]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [41]:
df.head(2)[0]

Row(age=None, name='Michael')

In [43]:
df.withColumn('newage',df['age']).show()
# add new column

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [48]:
df.withColumn(colName='newage',col=df['age']*2).show()
# add new column

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [47]:
df.withColumnRenamed(existing='age',new='my_new_age').show()
# to rename a column in dataframe

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [49]:
df.createOrReplaceTempView('people')
#Creates or replaces a local temporary view with this :class:`DataFrame`.

In [50]:
results = spark.sql('SELECT * FROM people')
results.show()
# to run sql query in spark

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [51]:
new_result=  spark.sql('SELECT * FROM people WHERE age=30')
new_result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [52]:
new_result.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+